body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.link_dz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: blue;
}

a:hover {
    color: blueviolet;
    transition: 0.5s;
    transform: scale(1.1);
}