body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.message_container {
    background-color: #f5f5dc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    width: 500px;
    padding: 20px;
}

.message_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
}


li {
    list-style-type: none;
}

.link_dz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: blue;
}

a:hover {
    color: blueviolet;
    transition: 0.5s;
    transform: scale(1.1);
}